<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar nota - Get-it</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/getit.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='img/logo-getit.png') }}" alt="Get-it Logo">
            <p>Editando sua nota</p>
        </header>

        <form action="/update/{note_id}" method="POST" class="edit-form">
            <label for="titulo">Título</label>
            <input id="titulo" type="text" name="titulo" value="{titulo}" required />
            
            <label for="detalhes">Detalhes</label>
            <input id="detalhes" name="detalhes" value="{detalhes}" required />
            
            <div class="form-buttons">
                <button type="submit" class="save-btn" name="edit_save"><i class="fas fa-save"></i>Salvar</button>
                <a href="/" class="cancel-btn" name="edit_cancel">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</body>
</html>